.post{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    box-shadow: 0 0 .2rem #000;
    padding: .5rem;
    max-width: 25rem;
    font-weight: 500;
    border-radius: .5rem;
    margin-top: 1rem;
}

.img-thumb > img{
    border-radius: 1rem;
    box-shadow: 0 0 .3rem rgb(133, 133, 133);
}

.content{
    margin-left: 2rem;
}

.remove, .update{
    padding: .6rem;
    border: none;
    background-color: #ff006e;
    border-radius: .2rem;
    color: #fff;
}

.content > .update{
    background-color: #22577a;
    margin-right: .3rem;
}

.remove:hover, .update:hover{
    cursor: pointer;
    background-color: #3a86ff;
}